/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Space out the masthead */
.header {
    margin-bottom: 30px;
}
.full-screen-image {
	width:100%;
}
.modal-dialog {
}